@font-face {
  font-family: 'Dotrice Regular';
  src: url('./assets/fonts/dotrice.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-header {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00b894;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.App-header-text {
  font-family: 'Pacifico', cursive;
  font-size: calc(15px + 2vmin);
  font-style: italic;
  color: #e6fdf9;
  margin-top: -3px;
  transform: rotate(-3deg) scaleY(0.75);
}

.input-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-input {
  width: 85%;
  padding: 5px;
  font-size: 1.4em;
  color: #886950;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.155), 0px -2px 4px rgba(0, 0, 0, 0.155);
}

.add-button {
  background-color: #00b894;
  /* Set the background color to match the theme */
  color: white;
  padding: 0px 6px;
  font-size: 1em;
  border-radius: 11px;
  border: 1px solid #d8d8d8;
  /* Set the border color to a lighter greyish version of the background color */
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.155), 0px -2px 4px rgba(0, 0, 0, 0.155);
  /* Add this line to create a symmetrical floating effect */
}

.add-button::before {
  content: '+';
  font-size: 2.5em;
  /* Larger font size for the + sign */
}

.add-button:hover {
  background-color: #007d64;
}

.clear-list-button {
  background-color: #FF6347;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 6px 19px;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  /* For FAB */
  bottom: 20px;
  /* Adjust based on placement */
  right: 20px;
  /* Adjust based on placement */
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.3), 0px -5px 9px rgba(0, 0, 0, 0.3);
}

.clear-list-button::before {
  content: '\1F5D1';
  font-size: 2.7em;
  /* Larger font size for the + sign */
}

.clear-list-button:hover {
  background-color: #FF4500;
}

.clear-list-button:active {
  background-color: #FF0000;
}

.shopping-list-container {
  margin-top: 10px;
}

.shopping-list-separator {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #c99462; */
  background-color: #93e9d8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #00604d;
  border-bottom: 1px solid #00604d;
}

.shopping-list-separator-text {
  color: #00604d;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Dotrice Regular";
  letter-spacing: 2px;
  margin-top: 3px;
}